body{
    background-color: rgb(199, 124, 186);
    gap: 20px;
    font-family: Arial;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.musica label{
    background-color: #ffffff;
    padding: 4px 15px;
    border-radius: 15px;
    display: inline-block;
    width: 200px;
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
    justify-content: space-between; 
}
.musica input[type="radio"]{
    display: none;
}
.musica input:checked + label{
    background-color: #961f86;
    transform: scale(1.05);
}
audio{
width: 300px;       /* Largura do player */
    border: 2px solid #4CAF50;
    border-radius: 8px;
    background-color:  #ffffff; /* Pode não afetar todos os navegadores */
    padding: 4px;
    text-align: center;
}